{% liquid
  assign author = article.metafields.luca.author
  assign author_name = author.value.name
  unless author
    assign author_name = article.author
  endunless
%}
<div class="article-data flex items-center gap-4">
  {% if author.value.avatar %}
    {% render 'avatar', size: 'xsmall', image: author.value.avatar %}
  {% endif %}
  <div class="flex flex-col text-body-sm">
    <strong class="article-author font-semibold">{{ author_name }}</strong>
    <div class="article-date inline-flex gap-2 text-neutral-500">
      <span>{{ article.updated_at | date: format: 'abbreviated_date' }}</span>
      <span>•</span>
      <span>
        {{ article.content | strip_html | split: ' ' | size | divided_by: 250 | plus: 1 }}
        {{ 'snippets.article_data.time_read' | t -}}
      </span>
    </div>
  </div>
</div>
