{% liquid
  assign title = section.settings.title
  assign content = section.settings.content

  if title == blank
    assign title = page.title
  endif
  if content == blank
    assign content = page.content
  endif
%}

<div class="section wrapper prose mx-auto max-w-4xl">
  {% if title != blank %}
    {% assign title_tag = section.settings.title_tag %}
    <{{ title_tag }} class="title">{{ title }}</{{ title_tag }}>
  {% endif %}
  {{ content }}
</div>

{% schema %}
{
  "tag": "section",
  "name": "t:sections.main_page.name",
  "class": "content-richtext",
  "presets": [
    {
      "name": "t:sections.main_page.name"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:common.headers.title"
    },
    {
      "type": "select",
      "id": "title_tag",
      "label": "t:common.labels.title.tag",
      "options": [
        {
          "value": "h1",
          "label": "t:common.headings.h1"
        },
        {
          "value": "h2",
          "label": "t:common.headings.h2"
        },
        {
          "value": "h3",
          "label": "t:common.headings.h3"
        },
        {
          "value": "h4",
          "label": "t:common.headings.h4"
        },
        {
          "value": "h5",
          "label": "t:common.headings.h5"
        },
        {
          "value": "h6",
          "label": "t:common.headings.h6"
        }
      ],
      "default": "h1"
    },
    {
      "id": "title",
      "type": "text",
      "label": "t:common.labels.title.write"
    },
    {
      "type": "header",
      "content": "t:common.headers.text"
    },
    {
      "id": "content",
      "type": "richtext",
      "label": "t:common.labels.text.write"
    }
  ]
}
{% endschema %}
